.bigbox{
    margin: 15px;
    height: 300px;
    width: 300px;
    outline: auto;
    display: inline-block;
}
.bigboxsub {
    padding: 12px;
    margin: 20px;
    height: 100px;
    display: inline-block;
    width: 100px;
    outline: auto;
}
img{
    border-radius: 50px;
    width: 100%;
    height: 100%;
}
h1{
    text-align: center;
}
.aside{
    float: right;
}